* {
    font-family: inherit !important;
}

.bilibili-danmaku {
    text-shadow: 1px 1px 1px black !important;
}

.bilibili-player-dm-tip-wrap {
    visibility: hidden;
}

.bilibili-player-video-popup, .bpx-player-dialog-wrap {
    display: none !important;
}