* {
    font-family: Lolita !important;
}

p, h3 {
    text-indent: 0 !important;
}

.video-info .video-title .tr-fix {
    margin-left: 0 !important;
}

.video-info-container .video-title {
    overflow: unset !important;
}

.fixed-header .bili-header__bar {
    position: absolute !important;
}

.right-entry-item--upload {
    display: none !important;
}

.bilibili-danmaku {
    font-weight: inherit !important;
}

.bilibili-danmaku {
    text-shadow: 1px 1px 1px black !important;
}

#bilibili-player {
    --width: min(100vw, (100vh - 46px) * 16 / 9);
    height: inherit !important;
    margin-left: calc(min(0px, (max(100vw * 1047 / 1536, 923px) - var(--width)) / 2));
    width: calc(var(--width)) !important;
}

#app {
    --player-height: min(100vh, 100vw * 9 / 16 + 46px);
}

#danmukuBox {
    padding-top: calc(var(--player-height) - max(100vh * 632 / 754, 562px));
}

#playerWrap {
    height: calc(var(--player-height)) !important;
}

.bilibili-player-dm-tip-wrap {
    visibility: hidden;
}

#bannerAd, #slide_ad, .ad-report, .eva-extension-area, .eva-banner, .battle-area, #reco_list .rec-list>div:nth-child(1) {
    display: none !important;
}

.bilibili-player-video-popup, .bpx-player-dialog-wrap {
    display: none !important;
}